# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Flutter build
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
**/gradle-wrapper.jar
.gradle/

# iOS
**/Pods/
**/.symlinks/
**/Flutter/Flutter.framework
**/Flutter/Flutter.podspec

# Web
web/flutter_bootstrap.js
web/main.dart.js
web/main.dart.js.map
web/flutter_service_worker.js
web/assets/
